.image__404{
    display: flex;
    justify-content: center;
    align-content: center;
}
.image__404 img{
    max-width: 500px;
}
.text__404{
    text-align: center;
}
.text__404 h3 {
    font-size: 30px;
}